<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Your Account</title>
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Thank you for signing up at Radiant Flip. Please click the link below to activate your account:</p>
    <p><a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}">Activate your account</a></p>
    <p>If the above link doesn't work, please copy and paste this URL into your browser:</p>
    <p>{{ domain }}{% url 'activate' uidb64=uid token=token %}</p>

</body>
</html>
