{% extends "base1.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="main-title my-5 main-title_page main-title_center">
		<div class="main-title__top"><span>company</span></div>
		<div class="main-title__text">Terms of conditions
		</div>
	</div>
	<div class="main-text">
		<p>This program is exempted from the application of The Securities Act of 1933, The Securities Exchange
			Act of 1934 (SEA), and The Investment Company Act of 1940 since it is a private transaction. The
			same applies to all other regulations, rules, and amendments to them.</p>

		<p>The Company is not a licensed bank and is not responsible for any damage, costs, or losses resulting
			from the investor’s non-compliance with the conditions and regulations, set out on the website.</p>

		<p>By registering, you confirm that you will not use this website in any illegal way and will respect
			international and local laws. The company reserves the right to change the conditions: fees, program
			rates, and rules at any time and its discretion, without prior notification. Especially, when it
			comes to ensuring the safety of investors’ interests.</p>

		<p>You consent that you are fully aware of the responsibilities and are familiar with the present
			conditions</p>
		<h4>Investor's rights.</h4>
		<p>You consent to follow the following rules:</p>
		<div class="about-page-info-2">
			<p>To indicate only actual and correct personal data.</p>
			<p>To be over 18 years (adult) at the time of registration</p>
			<p>To respect and be tolerant of other investors of the company</p>
			<p>Not to use this Website to launder money</p>
			<p>Not to use illegally earned money</p>
			<p>To respect the commercial secret and the right not to disclose information about any private
				transaction.</p>
			<p>Not to use SPAM and other malicious applications that violate the integrity and functioning of
				the website.</p>
		</div>
		<p>Any attempts to harm the reputation using the creation of negative publications and videos on social
			media are not welcomed by the company. Radiant flip, for its part, is always ready to provide
			support to its investors – that is why, if any issues occur, the request is to contact the support
			team.</p>
		<h4>The company is entitled to:</h4>
		<div class="about-page-info-2">
			<p>Add and update the actual content to the Website</p>
			<p>Edit and delete the content of the Website</p>
			<p>Provide an investor with advisory and informational services</p>
			<p>Suspend or temporarily cease the transmission of any information through the Website without
				prior notification due to the following reasons:</p>

		</div>
		<h4>The company also reserves the right to:</h4>
		<div class="about-page-info-2">
			<p>Suspend the service provision, up to account blocking, in case of violation of these Rules by the
				Investor</p>
			<p>Make amendments to the already existing Rules without prior approval</p>
			<p>Edit and change the content of the Website without prior approval</p>
			<p>Correct and complement the already existing investment offers</p>
			<p>Change towards an increase in partner’s remuneration, without prior approval</p>
			<p>Send materials to all registered users of the company</p>
			<p>Use the indicated personal data of an Investor to improve and optimize the process of investment
				interaction</p>
			<p>Refuse cooperation with any participant without explanation</p>
			<p>Provide all possible support and help to the investors within the Rules indicated on the website
			</p>
		</div>
		<p>The company bears no responsibility for issues and inconveniences caused by the temporary suspension
			of the work of the Website, which occurred as a result of the above reasons. It is also not
			responsible for losses caused and damages connected with the temporary suspension of service
			delivery resulting from the action of the above reasons.</p>
	</div>
</div>
{% endblock content %}