{% extends "base1.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="main-title my-5 main-title_page main-title_center">
		<div class="main-title__top"><span>help</span></div>
		<div class="main-title__text">frequently asked questions
		</div>
	</div>
	<div class="faq-content mb-5">
		<div class="accordion" data-tabs-item="1">
			<div class="accordion__item active">
				<div class="accordion__head" data-num="1">WHAT IS NEEDED TO BECOME AN INVESTOR?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body" style="display: block;">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>To become a Radiant flip investor, you need to register and create a personal
							account. The first step is to fill in the form. Please provide only valid
							information.<br><br>We will ask you to provide your name, username, password, and
							e-mail address. After successful registration, go to your personal account.</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="2">WHAT PAYMENT SYSTEMS Radiant flip ACCEPT?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>We accept most popular cryptocurreny:<br>
							<br>
							Bitcoin <br>
							Litecoin <br>
							Ethereum <br>
							SOL <br>
							Dogecoin <br>
							Tether ERC20 <br>
							Tron <br>
							Tether TRC20 <br>
							BNB <br>
							Tether BEP20 <br>
							Stellar <br>
							Ethereum Classic <br>
							Bitcoin Cash <br>
						</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="3">HOW TO MAKE A DEPOSIT?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>After the personal account has been registered, you can proceed to choosing the
							staking package plan. Compare the total profit percentage, and decide on the amount
							and the payment system.<br>
						</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="4">HOW LONG DOES IT TAKE FOR A DEPOSIT TO BE ACCRUED TO
					THE BALANCE?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>The deposit is accrued to the balance instantly and starts working immediately. If
							the deposit is made using the cryptocurrency, then the funds will be accrued after
							the network confirmation.<br>
							<br>
							If your money has not been accrued to the balance within 24 hours, contact the
							support team.
						</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="5">WHAT ARE THE MINIMUM AMOUNTS FOR WITHDRAWAL?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>The minimum withdrawal on our system is $10, But we recommend withdraw minimum $20
							for crypto</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="6">DOES THE COMPANY HAVE ANY FEES FOR A DEPOSIT AND
					WITHDRAWAL OF FUNDS?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>No, hidden fees are not charged.</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="7">HOW FAST WILL I RECEIVE FUNDS TO MY WALLET ONCE I
					CREATED A WITHDRAWAL REQUEST?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>The withdrawal process takes between 24 and 48 hours. Check your payment details
							before funds withdrawal!<br></p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" data-tabs-item="2">
			<div class="accordion__item">
				<div class="accordion__head" data-num="8">IS IT POSSIBLE TO CHANGE THE PERSONAL ACCOUNT DATA:
					PASSWORD, PAYMENT DETAILS?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>Yes, you can change the password or payment details by yourself in the personal
							account settings.<br></p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="9">CAN I REGISTER SEVERAL ACCOUNTS?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>A user can have only one account. Multi-accounting is prohibited. If this clause of
							the rules is violated, then all investor accounts will be frozen: without the
							possibility of recovering.</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="10">I HAVE FORGOTTEN THE ACCOUNT PASSWORD. WHAT SHOULD I
					DO?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>You can recover your password by using the Password Recovery section. Type the data
							specified during the registration here. The new password will be sent to your
							e-mail.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" data-tabs-item="3">
			<div class="accordion__item">
				<div class="accordion__head" data-num="11">WHAT PARTNER PROGRAM DOES THE Radiant flip HAVE?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>The referral program offer 3% for 1st level and bonus program:
							<br><br>
							10 active referral bonus $75<br>

							25 active referral bonus $125<br>

							50 active referral bonus $250<br>

							100 active referral bonus $500<br>

							500 active referral bonus $2500<br>

							1000 active referral bonus $5000<br>

							10,000 active referral bonus $50,000<br>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion__item">
				<div class="accordion__head" data-num="12">ARE THERE ANY LIMITS ON THE NUMBER OF DEPOSITS?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>There are no restrictions. You can create deposits for each staking package.</p>
					</div>
				</div>
			</div>
			<div class="accordion__item">
				<div class="accordion__head" data-num="13">I STILL HAVE SOME QUESTIONS. HOW TO CONTACT THE
					SUPPORT?
					<div class="accordion__icon">
						<svg>
							<use xlink:href="https://mybtcboom.com/assets/img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<div class="accordion__body">
					<div class="accordion__title">answer</div>
					<div class="main-text">
						<p>To get some advice, go to the ‘Contacts’ section of the Radiant flip's website. Send
							your question using the feedback form.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


